<div class="four-blocks">
<div class="festivals-list">
    <% @festivals.each do |festival| %>
      <ul class="festival">
<!--         <%= image_tag(festival.image, class: 'festival-logos') %> -->
        <h3><%= link_to(festival.name, festival_path(festival.id)) %></h3>
        <h4><li><%= link_to('DELETE', festival_path(festival.id), method: :delete) %></li></h4>
        <h4><li><%= link_to('EDIT', edit_festival_path(festival.id)) %></li></h4>
      </ul>
    <% end %>
    </div>
</div>